/**
 * Desktop
 *
 * 1. Layout
 * 2. Globals
 * 3. Header
 * 4. Footer
 **/
.font-camelia {
  font-family: 'RNS Camelia', sans-serif;
}
/*
	1. Layout
*/
html {
  margin-top: 0 !important;
  font-size: 62.5%;
}
/*
	3. Header
*/
header {
  height: 100px;
  background: url('../img/header_bg.png');
  border: none;
  border-bottom: 1px solid #666666;
}
header h1 {
  background: url('../img/logo.png') left center no-repeat;
  text-indent: -999px;
  margin: 0;
  padding: 0;
  height: 100px;
}
header nav.navbar {
  text-align: right;
  float: right;
  margin: 0;
  padding: 0;
  font-family: 'RNS Camelia', sans-serif;
}
header nav.navbar .navbar-inner {
  background: none;
  border: none;
  color: #efefef;
  box-shadow: none;
  height: 100px;
  margin: 0;
  padding: 0;
}
header nav.navbar .nav > li {
  line-height: 80px;
}
header nav.navbar .nav > li > a {
  padding: 10px 0px 10px 15px;
  color: #efefef;
  text-shadow: none;
}
header nav.navbar .nav > li > a:hover {
  color: #62c1ed;
}
/*
	4. Footer
*/
footer {
  background: #222222;
  min-height: 150px;
  border: none;
  border-top: 1px solid #666666;
  text-align: center;
}
footer div > p#copyright {
  text-align: center;
  padding: 25px 0;
  color: #666666;
  font-size: 0.8em;
}
footer div > p#copyright a:link,
footer div > p#copyright a:visited,
footer div > p#copyright a:active {
  color: #666666;
}
footer div > p#copyright a:hover {
  color: white;
}
footer nav.navbar .navbar-inner {
  text-align: center;
  background: none;
  border: none;
  color: #efefef;
  box-shadow: none;
  margin: 25px auto;
}
footer .navbar .nav,
footer .navbar .nav > li {
  float: none;
  clear: none;
  display: inline-block;
  vertical-align: top;
  font-family: 'RNS Camelia', sans-serif;
}
footer nav.navbar .nav > li > a {
  padding: 10px 0px 10px 15px;
  color: #efefef;
  text-shadow: none;
}
footer nav.navbar .nav > li > a:hover {
  color: #62c1ed;
}
/*
	5. Slider
*/
div#slider {
  position: relative;
  margin-top: -100px;
  height: 500px;
  overflow: hidden;
}
div#slider div.item {
  z-index: -999;
}
div#slider div.item img {
  width: 100%;
}
div#slider ol.carousel-indicators {
  top: auto;
  bottom: 15px;
}
div#slider a.carousel-controls {
  top: ;
}
