@font-face {
    font-family: 'RNS Camelia';
    src: url('../fonts/rns_camelia-webfont.eot');
    src: url('../fonts/rns_camelia-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rns_camelia-webfont.woff') format('woff'),
         url('../fonts/rns_camelia-webfont.ttf') format('truetype'),
         url('../fonts/rns_camelia-webfont.svg#rns_cameliaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}